<!DOCTYPE html>
<html lang="en"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout}">
    <th:block layout:fragment="content">
        <th:block layout:fragment="css">

        </th:block>

        <!-- /.container-fluid -->



        <!-- /.container-fluid -->

        <th:block layout:fragment="script">

        </th:block>

    </th:block>

</html>