<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>메인</title>
	<script src="/js/home/enToKor.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="/js/topojson-client.js"></script>
	<script src="/js/versor.js"></script>
	<style>
		html, body {
			margin: 0;
			padding: 0;
		}

		#current {
			position: absolute;
			font-family: sans-serif;
			margin-left: 4%;
		}
	</style>
</head>
<body>
	<h1 id="title">메인 페이지</h1>
	<hr>
	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
	<a sec:authorize="isAnonymous()" th:href="@{/signUp}">회원가입</a>
	<a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/main}">내정보</a>
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>

	<h2 id="current"></h2>
	<div>
		<canvas id="globe"></canvas>
	</div>
</body>
<script src="/js/home/index.js"></script>
</html>