<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>메인</title>
	<script src="/js/home/enToKor.js"></script>
	<script src="/js/d3.v4.min.js"></script>
	<script src="/js/topojson-client.js"></script>
	<script src="/js/versor.js"></script>
	<style>
		html, body {
			margin: 0;
			padding: 0;
		}
		.country:hover {
			fill: white;
		}

		.country {
			fill: lightgreen;
			stroke: black;
			stroke-width: 0.05px;
		}

		.sphere {
			fill: darkblue;
		}
	</style>
</head>
<body>
	<h1 id="title">메인 페이지</h1>
	<hr>
	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
	<a sec:authorize="isAnonymous()" th:href="@{/signUp}">회원가입</a>
	<a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/main}">내정보</a>
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
	<h2 id="current"></h2>
	<div>

	</div>
</body>
<script>
	var cnt = 0;
	var countries
	var countryList
	const svg = d3.select('div').append('svg').attr('width', 1440).attr('height', 900);
	const g = svg.append('g');
	const colorScale = d3.scaleOrdinal(d3.schemeCategory10);
	const projection = d3.geoOrthographic()
	const pathGenerator = d3.geoPath().projection(projection);
	var countries;

	svg.call(
		d3.zoom().on('zoom', function() {
			g.attr('transform', d3.zoomTransform(this));
		})
	);

	// d3.json('https://cdn.jsdelivr.net/npm/world-atlas@2/countries-50m.json', function(data){
		d3.json('https://cdn.jsdelivr.net/npm/world-atlas@2/countries-110m.json', function(data){
		console.log(data)
		// Convert topoJSON to geoJSON
		if(cnt == 0){
			countries = topojson.feature(data, data.objects.countries)
			setGpath();
		}
	});


	function setGpath(){
		g.append('path')
			.attr('class', 'sphere')
			.attr('d', pathGenerator({ type: 'Sphere' }))

		g.selectAll('path')
			.data(countries.features)
			.enter()
			.append('path')
			.attr('class', 'country')
			.attr('d', pathGenerator)
			.append('title') // Add a tooltop
			.text(function(d){ return d.properties.name});

		setGpathFill();
	}

	function setGpathFill(){
		for(var i = 0; i < g.selectAll('path')._groups[0].length; i++){
			if(g.selectAll('path')._groups[0][i].classList.value != "sphere"){
				g.selectAll('path')._groups[0][i].style.fill = colorScale(g.selectAll('path')._groups[0][i].__data__.properties.name);

				g.selectAll('path')._groups[0][i].addEventListener('mouseover', function(){this.style.fill = '#ffffff'})
				g.selectAll('path')._groups[0][i].addEventListener('mouseout', function(){this.style.fill = colorScale(this.children[0].textContent)})

			}
		}
	}
</script>
</html>