<!DOCTYPE html>
<html lang="en"
		xmlns:sec="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{fragments/layout}">

<th:block layout:fragment="content">
	<th:block layout:fragment="css">
		<link th:href="@{/css/earth.css}" rel="stylesheet">
	</th:block>

	<a sec:authorize="isAnonymous()" th:href="@{/map/south_korea}" style="position: absolute;color: red;top:5%;z-index: 9999">한국</a>

	<th:block layout:fragment="script">
		<script src="/js/home/earth.js"></script>
		<script src="/js/home/universe.js"></script>
	</th:block>
</th:block>


</html>