<!DOCTYPE html>
<html lang="en"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout}">
    <th:block layout:fragment="content">
        <th:block layout:fragment="css">
            <link th:href="@{/css/earth.css}" rel="stylesheet">
        </th:block>

        <!-- /.container-fluid -->
        <a sec:authorize="isAnonymous()" th:href="@{/map/earth}">세계지도</a>
        <div id="earth_dv">
            <table id="earth_tb">
                <colgroup>
                    <col width="44%">
                </colgroup>
                <tr>
                    <td class="text_top">
                        <div id="earth_tb_dv">

                        </div>
                    </td>
                    <td class="text_top">
                        <div style="border: 1px" id="pic">
                            <h2 id="current"></h2>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.container-fluid -->

        <th:block layout:fragment="script">
            <script th:src="@{/js/home/map/south_korea.js}"></script>
        </th:block>

    </th:block>

</html>